<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SICER" connectionString="Data Source=192.168.0.12;Initial Catalog=SBO_WEB_MSSTawaCER;User Id=sa;Password=S4pT4w4;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SICER" connectionString="Data Source=LENOVO-PC\MSSQLSERVER2012;Initial Catalog=SBO_WEB_MSSTawaCER;User Id=sa;Password=Passw0rd;" providerName="System.Data.SqlClient"/>-->
    <add name="SICER" connectionString="Data Source=MSS-TERMHANA;Initial Catalog=SBO_WEB_MSSTawaCER;User Id=sa;Password=S31d0r2017;" providerName="System.Data.SqlClient"/>
    <!--<add name="SICER" connectionString="Data Source=SRV-SAP;Initial Catalog=SBO_WEB_MSSTawaCER;User Id=sa;Password=S4pT4w4;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="HOTEL" connectionString="Data Source=B1SQL;Initial Catalog=SBO_WEB_MSSTawaCER; User Id=sa; Password=B1Admin;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="HOTEL" connectionString="Data Source=USER-0D66444B8B;Initial Catalog=BDHotel;User Id=sa;Password=password;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="Microsoft.Office.Interop.Excel, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<authentication mode="Forms">
      -->
    <!--<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>-->
    <!--
      <forms loginUrl="~/Login.aspx" defaultUrl="~/Login.aspx"  name=".ASPXFORMSAUTH" protection="All" path="/" timeout="1"></forms>
    </authentication>-->
    <sessionState mode="InProc" cookieless="false" timeout="500"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>